<!DOCTYPE html>
<html>
    <head>
        <title>FacebookPosts</title>
    </head>
    <body>
        <p>It's Working!!</p>
	<a href="/weekly_followers.png/Blacktivists">Blacktivists</a>
	<a href="/weekly_followers.png/Patriototus">Patriototus</a>
	<a href="/weekly_followers.png/MuslimAmerica">MuslimAmerica</a>
	<a href="/weekly_followers.png/Lgtbun">Lgtbun</a>
	<a href="/weekly_followers.png/Secured.Borders">Secured.Borders</a>
	<img src="/weekly_followers.png" alt="weekly_followers.png">
   </body>
</html>

