<!DOCTYPE html>
<html>
    <head>
        <title>FacebookPosts</title>
    </head>
    <body>
        <p>FacebookPostGroups:</p>
	<a href="/weekly_followers.png/Blacktivists">Blacktivists</a><br>
	<a href="/weekly_followers.png/Patriototus">Patriototus</a><br>
	<a href="/weekly_followers.png/MuslimAmerica">MuslimAmerica</a><br>
	<a href="/weekly_followers.png/Lgtbun">Lgtbun</a><br>
	<a href="/weekly_followers.png/Secured.Borders">Secured.Borders</a><br>
	<a href="/weekly_followers.png/Txrebels">Txrebels</a><br>
	<img src="/weekly_followers.png" alt="weekly_followers.png"><br>
   </body>
</html>

